<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Enrollment</title>
    <link rel="stylesheet" href="admin.css">
  </head>
  <body>
    <div id="welcome" class="banner">Welcome Student</div>
    <div style="float: right; margin-right: 20px;margin-top: 5px">
      <button class="add-class-btn" onclick="logout()">Logout</button>
    </div>
    <div id="cart-icon" style="float: right; margin-right: 20px;">
      <a href="#">
        <img src="Images/cart.png" alt="Cart Icon" style="width: 50px; height: 50px;">
        <span id="cart-count"></span>
      </a>
      </a>
    </div>
    <div id="cart-popup" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(0, 0, 0, 0); width: auto; height: auto; max-width: 80%; max-height: 80%; padding: 20px; overflow: auto; z-index: 9999;">
      <!-- content goes here -->
    </div>
    <div class="bannerWhite">
      <h1></h1>
    </div>
    <div id="availableClassesBanner" class="banner">
      <h2>Available Classes</h2>
    </div>
    <div id="availableClasses"></div>
    <div id="enrolledClassesBanner" class="banner">
      <h1>Enrolled Classes</h1>
    </div>
    <div id="popup"></div>
    <div id="enrolledClasses"></div>
    <div id="classes"></div>
    
  </body>
</html>